* {
  margin: 0;
  padding: 0;
  font-family: "Maax", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(27, 28, 30);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center; /*aligns horizontally */
}

.global-container,
.episode-list-container {
  background: rgba(77, 82, 99, 0.24);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.global-container {
  padding: 40px;
}

.episode-list-container {
  padding: 20px;
}

.podcast-cover-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 25px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.label-wrapper {
  padding: 10px;
  max-width: 600px;
}

.title {
  font-size: 2.1rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.author {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 10px;
}
