* {
  margin: 0;
  padding: 0;
  font-family: "Maax", sans-serif;
  color: white;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(27, 28, 30);
  background-image: url("./bg.png");
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center; /*aligns horizontally */
}

.global-container-wrapper,
.episode-list-container {
  background: rgba(77, 82, 99, 0.418);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.global-container-wrapper {
  padding: 40px;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 100%;
  background: rgba(0, 217, 255, 0.568);
  width: 800px;
  height: 600px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 10000ms infinite linear;
}

.wave.-two {
  animation: drift 17000ms infinite linear;
  opacity: 0.1;
  background: rgb(233, 18, 161);
}

.wave.-three {
  animation: drift 15000ms infinite linear;
}

.global-container:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(#e8a, 1),
    rgba(#def, 0) 80%,
    rgba(white, 0.5)
  );
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.episode-list-container {
  padding: 20px;
  width: fit-content;
}

.episode {
  width: 700px;
}

.podcast-cover-image {
  z-index: 1;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.blurred-bg {
  backdrop-filter: blur(9px);
}

.label-wrapper {
  z-index: 1;
  padding: 10px;
  max-width: 600px;
}

.title {
  font-size: 2.1rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.author {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
